h1  {
	font-family: 'BN Chester Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 66px;
    line-height: 64px;
    letter-spacing: 0.01em;

    color: #3D3737;
    flex: none;
    order: 0;
    flex-grow: 0;

    width: 479px;
    height: 128px;
    text-align: left;

    margin-top: 203.5px;
}

p   {
	width: 382px;
    height: 81px;

    /* Body */

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    text-align: left;
    /* or 27px */
    margin-top: 27px;

    /* Dark text */

    color: #161616;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}